<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">

	<mongo:db-factory id="mongoDbFactory" host="127.0.0.1"
		port="27017" dbname="versionone" username="" password="" />

	<mongo:mapping-converter base-package="in.retalemine.converters">
		<mongo:custom-converters>
			<mongo:converter>
				<bean class="in.retalemine.converters.PaymentWriteConverter" />
			</mongo:converter>
			<mongo:converter>
				<bean class="in.retalemine.converters.PaymentReadConverter" />
			</mongo:converter>
			<mongo:converter>
				<bean class="in.retalemine.converters.AmountWriteConverter" />
			</mongo:converter>
			<mongo:converter>
				<bean class="in.retalemine.converters.AmountReadConverter" />
			</mongo:converter>
			<mongo:converter>
				<bean class="in.retalemine.converters.MeasureWriteConverter" />
			</mongo:converter>
			<mongo:converter>
				<bean class="in.retalemine.converters.MeasureReadConverter" />
			</mongo:converter>
		</mongo:custom-converters>
	</mongo:mapping-converter>

	<bean id="writeConcernResolver" class="in.retalemine.core.CustomWriteConcernResolver" />

	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
		<constructor-arg name="mongoConverter" ref="mappingConverter" />
		<property name="writeConcernResolver" ref="writeConcernResolver" />
	</bean>

	<mongo:repositories base-package="in.retalemine.repository"
		factory-class="in.retalemine.repository.support.FeaturedRepositoryFactoryBean" />

</beans>
